:root {
	--main-background: #f9f9f9;
	--header-background: #fff;

	--main-text-color: #000;
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-background: #181818;
		--header-background: #202020;

		--main-text-color: #fff;
	}
}
body {
	background: var(--main-background);
	margin: 0px;
}
#header {
	display: flex;
	background: var(--header-background);
	height: 40px;
	width: 100%;
}
#title.select-stream-header {
	color: var(--main-text-color);
	font-size: 16px;
	margin: auto 12px;
	user-select: none;
}
#contents {
	margin: 0px 8px;
}
#content {
	position: relative;
	display: flex;
	height: calc(200 / 3);
	width: 100%;
	user-select: none;
}
.platform-icon {
	margin: 8px;
}
#content-title {
	color: var(--main-text-color);
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: auto 0px;
}
#content a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}